{% load static %}

<nav class="flex items-center bg-green-600 p-3 flex-wrap">
  <a href="{% url 'home' %}" class="p-2 mr-4 inline-flex items-center">
    <img 
      class="block h-8 w-auto" 
      src="{% static 'images/logos/wasteline_logo.png' %}" 
      alt="Workflow logo"
    >
    <span class="text-2xl text-white font-indie font-bold tracking-wide"
      >wasteline</span
    >
  </a>
  <button
    class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler"
    data-target="#navigation"
  >
    <i class="material-icons">menu</i>
  </button>
  <div
    class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto"
    id="navigation"
  >
    <div
      class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start  flex flex-col lg:h-auto"
    >
      <a
        href="{% url 'home' %}"
        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
      >
        <span>Home</span>
      </a>
      {% if request.user.is_authenticated %}
        <a
          href="{% url 'users:detail' request.user.username  %}"
          class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
        >
          <span>Dashboard</span>
        </a>
      {% endif %}
      <a
        href="collectors-list"
        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
      >
        <span>Collectors</span>
      </a>
      <a
        href="{% url 'account_login' %}"
        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
      >
        <span>Sign In</span>
      </a>
      <a
        href="{% url 'account_signup' %}"
        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
      >
        <span>Sign Up</span>
      </a>
      <a
        href="{% url 'account_logout' %}"
        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
      >
        <span>Sign Out</span>
      </a>
    </div>
  </div>
</nav>